<!DOCTYPE html>
<html>
<head>
  <title>Player List</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
  </style>
</head>
<body>
  <h1>Player List</h1>

  <!--Buttons-->
  <div>
    <a href="/Add_Stats"><button>Add New Player</button></a>
    <a href="/delete"><button>Delete Player</button></a>
    <a href="/update_player"><button>Update a Player</button></a>
  </div>
  <!--START OF TABLE-->
  <table>
    <tr>
      <th>Name</th>
      <th>Conference</th>
      <th>Conference Strength</th>
      <th>College Team</th>
      <th>Overall Pick</th>
      <th>Draft Class</th>
      <th>Receiving Yards</th>
      <th>Receptions</th>
      <th>Yards per Reception</th>
      <th>Receiving Touchdowns</th>
      <th>College Dominator Rating</th>
      <th>Breakout Age</th>
      <th>College Level of Competition</th>
      <th>RAS Score</th>
    </tr>
    {% for player in rows %}
    <tr>
      <td>{{ player[0] }}</td>
      <td>{{ player[1] }}</td>
      <td>{{ player[2] }}</td>
      <td>{{ player[3] }}</td>
      <td>{{ player[4] }}</td>
      <td>{{ player[5] }}</td>
      <td>{{ player[6] }}</td>
      <td>{{ player[7] }}</td>
      <td>{{ player[8] }}</td>
      <td>{{ player[9] }}</td>
      <td>{{ player[10] }}</td>
      <td>{{ player[11] }}</td>
      <td>{{ player[12] }}</td>
      <td>{{ player[13] }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
