<!--Shows the max score to see who the best players are currently-->

     <!DOCTYPE html>
     <html>
     <head>
         <title>Top Players</title>
         <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;
            }
          </style>
     </head>
     <body>
         <h1>Top Player Scores</h1>
     
         <a href="/"><button>Go Home</button></a>
     
             <h1>Player List</h1>
         <table>
             <tr>
            <th>Conference</th>
             <th>Name</th>
             <th>Predicted Score</th>
             </tr>
             {% for player in rows %}
             <tr>
             <td>{{ player[0] }}</td>
             <td>{{ player[1] }}</td>
             <td>{{ player[2] }}</td>
             </tr>
         {% endfor %}
       </table>
     </body>
     </html>
     