<!DOCTYPE html>
<html>
    <body>
        <head>
            <title>Player Search</title>
        </head>

        <a href="DisplayPlayers.html"><button>Go Home</button></a>
        
        <form action="/search" method="POST">
            <label for="search_input">Player Name:</label>
            <input type="text" name="search_input" id="search_input">
            <input type="submit" value="Search">
        </form>

        {% if player_found %}
            <h2><u>Update Player Info:</u></h2>
            <form action="/update_player/{{ Name }}" method="POST">
                <!-- Include all input fields for updating player info -->
            </form>
        {% endif %}

    </body>
</html>
