
<!DOCTYPE html>
<html>
    <body>
        <head>
            <title>Update</title>
        </head>

        <h1>Update info about a Player</h1>
        <form method="POST" action="{{ url_for('update_player') }}">

            <!--Player database -->
            <h3>Player Name:</h3>
            <input type="text" id="Name" name="Name">

            <h3>Draft Class:</h3>
            <input type = "number" id = "Draft_Class" name= "Draft_Class" min = "2000">
            
            <h3>Conference:</h3>
            <input type = "text" id = "Conference" name= "Conference">

            <h3>Team:</h3>
            <input type = "text" id = "Team" name= "Team">

            <h3>Overall Pick:</h3>
            <input type = "number" id = "Overall_Pick" name= "Overall_Pick" min = "1" max = "260" step = "1">
            <!--Update Button-->
            <input type="submit" value="Update">
        </form>
      
    </body>
</html>